# Dependencies
node_modules/

# Build output
build/
*.tsbuildinfo

# iOS
ios/Pods/
*.xcworkspace
*.xcuserdata
DerivedData/

# Expo
.expo/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/

# Misc
*.orig
